
*,
*::before,
*::after {box-sizing: border-box;}
:root {
    --black:#000000;
    --blue: #11162efa;
    --blue-2: rgba(7, 28, 73, 0.8);
    --white: #ffffff; 
    --blue-g06: #7e8ab3;
    --blue-d1: #050f1f;
    --blue-d2: #050d13;
    --teal-d3: #021111;
    --gray-c2:#202324;
    --gray-d8:#796d6d2d;
    --color-bg:  #101426b2;
    --color-1: rgba(0,0,0,0.4);
    --color-19: rgba(2, 7, 36, 0.966);
    --color-2: rgba(1, 12, 15, 0.4);
    --font-roboto:'Roboto', sans-serif;
    --font-lora:'Lora', sans-serif;
    --font-openSans:'Open Sans', sans-serif;
}
html, body {margin: 0;font-family: var(--font-lora);font-size: 16px;}
a {text-decoration: none;}
ul, li {margin: 0;padding: 0;list-style-type: none;}
h1, h2 ,h3 ,h4 ,h5 , p{margin: 0;}

.bg-teal {background-color:var(--teal);}
.bg-black {background-color:var(--black);}

.col-1 { grid-area: col-1;}
.col-2 { grid-area: col-2;}
.col-3 {grid-area: col-3;}
.col-4 {grid-area: col-4;}
.col-5 {grid-area: col-5;}
.col-6 {grid-area: col-6;}
.col-7 {grid-area: col-7;}
.col-8 {grid-area: col-8;}
.col-9 {grid-area: col-9;}
.col-10 {grid-area: col-10;}

.site-header {
  background-color:var(--color-bg);
  position: fixed;
  display: block;
  width: 100%;
  z-index:100;
  padding: 20px 0;
}
.row {text-align: center;}
.container {
  max-width:1200px;
  margin: 0 auto;
  padding:0 20px;
}
.flex-container {display: flex;}
.flex-col {display: flex;flex-direction: column;}
.flex-between {display: flex;justify-content: space-between;}

.section-heading h1{
    font-family: var(--font-lora);
    font-weight: 700;
    font-size: 3.375rem;
    line-height: 69px;
    color: var(--blue-d2);
}
.section-heading h1:after {
    content:"";
    display: block;
    width: 100px;
    border-top: 3px solid var(--blue);
    margin: 22px auto 32px;
}
/*HEADER*/
.site-header .container {display:flex;justify-content: space-between; align-items: center;}
.logo > a{
    color: var(--white);
    font-family: var(--font-lora);
    font-weight: 700;
    font-size: 3rem;
    line-height: 52px;
    cursor: pointer;
}
.logo > a:hover{color: var(--blue-d1);}
.top-nav a {
    color: var(--white);
    background-color: var(--blue-d1);
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 27px;
    display: inline-block;
    position: relative;
    padding: 8px 30px;
    border-radius: 3px;
}
.top-nav a:hover, .top-nav a:active {color:var(--white);background-color: var(--color-2);}
.icon-x, .sidenav .icon-x{
    font-size: 0.7rem;
    margin: 8px 25px 0 9px;
    position: absolute;
}
/*Header menu button*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100; 
    top: 0; 
    right: 0;
    background-color: var(--blue);
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    font-family: var(--font-roboto);
    font-size: 2rem;
    color: var(--white);
    display: block;
    transition: 0.3s;
    position: relative;
    line-height: 27px;
}
.sidenav a:hover {color: var(--blue-d1);}
.sidenav .closebtn{
    position: absolute;
    top: 10px;
    font-size: 36px;
    margin-left: 5px;
}
.icon-sidenav{
    font-size: 0.7rem;
    margin: 10px 25px 0 9px;
    position: absolute;
}
.menu-button a{
    color: var(--white);
    font-size: 2rem;
    margin-right: 10px;
}
.menu-button a:hover{color: var(--blue);}

/*HERO*/
.hero {
    padding: 255px 0 0;
    background-color: var(--blue);
    background-size: 100% 1076px;
    background-repeat: no-repeat;
    color: var(--white);
    position: relative;
}
#particles-js{
    top: 0;
    width: 100%;
    position: absolute;
}
.hero .hero-text{
    text-align: left;
    padding-left: 100px;
}
.hero h1{
    margin: 0;
    padding: 10px;
    max-width: 770px;
    font-family: var(--font-lora);
    font-size: 4.75rem;
    font-weight: 700;
    line-height: 93px;
    border-radius: 3px;
    color: var(--white);
}
.hero p {
    margin: 12px 0 0;
    padding:0 0 150px 15px;
    font-size: 1.1875rem;
    line-height: 31px;
    max-width: 650px;
}
.hero > div > i{font-size: 3rem;}
.hero a.language-text{
    color: var(--white);
    font-family: var(--poppins-font);
    font-weight: 700;
    font-size: 1rem;
    line-height: 22px;
    cursor: pointer;
}
.hero a.language-text:hover, .hero a.language-text:active{
    color: var(--black);
}
/*hero-bottom*/
.hero ul.hero-bottom {
    list-style-type: none;
    max-width:1200px;
    margin: 50px auto 0; 
    padding:0 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hero-bottom li {
    margin: 15px;
    padding: 20px;
    max-width: 349px;
    height: 100%;
    color: var(--white);
    background-color: var(--color-1);
    text-align: left; 
    box-shadow: 0 0 20px var(--blue);
    font-family: var(--font-lora);
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 19px;
    border-radius: 5px;
    position: relative;
}
.hero-bottom li:hover {
    margin: 15px;
    padding: 10px 10px 17px;
    max-width: 349px;
    height: 100%;
    color: var(--blue);
}
.hero-bottom img {display: block;width: 100%;border:1px solid var(--white);}
.hero-bottom h4{
    margin: 19px 0 0;
    font-family: var(--poppins-font);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 40px;
    color: var(--white);
}
.hero-bottom span{
    padding-left: 25px;
    font-family: var(--poppins-font);
    font-weight: 700;
    font-size: 1rem;
    line-height: 22px;
}
.hero-bottom a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blue-d2);
}
.hero-bottom a:hover, .hero-bottom a:active{
    color: var(--black); 
}

/*Button to top*/
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 30px; 
    right: 30px;
    z-index: 99; 
    font-size: 2rem;
    border:  2px solid var(--blue-d2);
    outline: none; 
    background-color: var(--blue-2); 
    color: var(--white);
    cursor: pointer; 
    padding: 6px 15px; 
    border-radius: 50%; 
} 
#myBtn:hover {
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
}

/*contacts*/
.contacts {
    text-align: center;
    padding-top: 123px;
    padding-bottom: 100px;
    background-color: var(--gray-d8);
}
.contacts p {
    color:var(--teal-d3);
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 2rem;
    line-height: 24px;
    margin: 100px auto 50px;
}
.contacts  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contacts  li {
    margin: 15px;
    padding: 50px;
    min-width: 330px;
    height: 100%;
    color: var(--blue-d3);
    background-color: var(--white);
    text-align: left; 
    box-shadow: 0 0 20px var(--color-1);
    font-family: var(--font-lora);
    font-weight: 700;
}
.contacts  h4{
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 1.6875rem;
    line-height: 40px;
}
.contacts  h5{
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 34px;
    color: var(--gray-c2);
}

.contacts form {
    margin-top: 100px;
    max-width: 757px;
    display: flex;
    flex-direction: column;
   justify-content: center;
}

.contacts form input[type=text]{
    margin-top: 30px;
    padding: 21px 30px 18px;
    width: 100%;
    border: none;
    background-color: var(--color-1);
    color: var(--blue-d2);
}
.contacts form textarea{
    margin-top: 30px;
    padding: 21px 30px 18px;
    height: 200px;
    width: 100%;
    border: none;
    background-color: var(--color-1);
    color: var(--blue-d2);
}
.contacts form input[type=submit]{
    margin-top: 30px;
    padding: 21px 40px 18px;
    border: 1px solid var(--gray-c2);
    color: var(--gray-c2);
    cursor: pointer;
    max-width: 210px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 22px;
}
.contacts form input[type=submit]:hover{
    margin-top: 30px;
    padding: 21px 40px 18px;
    border: 1px solid var(--gray-c2);
    background-color: var(--gray-c2);
    color: var(--white);
}

/*FOOTER*/
footer {
    color: var(--white);
    padding-top: 59px;
    padding-bottom: 59px;
    background-color: #051313;
}
footer img{display: block;width: 160px;}
footer a{
    color: var(--white);
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 25px;
    cursor: pointer;
}
footer a:hover,footer a:active{color: var(--white);}
footer i {padding: 0 20px;font-size: 2rem;}

/*MEDIA SCREEN!!!!*/
/*MEDIA SCREEN!!!!*/
/*MEDIA SCREEN!!!!*/
@media screen and (min-width: 1001px) {
    .sidenav, .menu-button, .search-button, .search-box {display: none;}
}
@media screen and (max-width: 1000px) {
     /*HEADER*/
    .top-nav {display: none;}
     /*HERO*/
     .hero {padding: 200px 0 0;}
}
@media screen and (max-width: 650px) {
    /*PAGES-top-section*/
    .pages-top-section h1{
        padding: 20px 0;
    }
    .pages-top-section .container-big-text p{
        padding: 0;
    }
    /*HERO*/
    .hero .hero-text{padding-left: 20px;}
     /*How it works section */
     .how-it-works ul{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
        "col-1"
        "col-2"
        "col-3"
        "col-4"
    }
} 
@media screen and (max-width: 470px) {
    /*HERO*/
    .hero h1{font-size: 3.4rem;line-height: 68px;}
    .hero .hero-text a{
        margin:50px auto;
    }
    /*Contacts*/
    .contacts li{
        padding: 50px 20px;
        min-width: 280px;
    }
} 
@media screen and (max-width: 400px){
    /*HERO*/
    .hero-bottom li {height: 100%;}
    .hero-bottom a{margin-top: 35px;}
    .hero h1{padding: 0;}
}
@media screen and (max-width: 350px) {
    /*HERO*/
    .hero .hero-text{padding-left: 10px;}
    
} 
