
*,
*::before,
*::after {box-sizing: border-box;}
:root {
    --teal: #008080;
    --teal-2: rgba(7, 73, 64, 0.8);
    --white: #ffffff; 
    --teal-g06: #7eb3b3;
    --teal-d1: #051f1f;
    --color-1: rgba(0,0,0,0.4);
    --font-roboto:'Roboto', sans-serif;
    --font-lora:'Lora', sans-serif;
    --font-openSans:'Open Sans', sans-serif;
}
html, body {margin: 0;font-family: var(--font-lora);font-size: 16px;}
a {text-decoration: none;}
ul, li {margin: 0;padding: 0;list-style-type: none;}
h1, h2 ,h3 ,h4 ,h5 , p{margin: 0;}

.bg-teal {background-color:var(--teal);}
.bg-black {background-color:var(--black);}

.col-1 { grid-area: col-1;}
.col-2 { grid-area: col-2;}
.col-3 {grid-area: col-3;}
.col-4 {grid-area: col-4;}
.col-5 {grid-area: col-5;}
.col-6 {grid-area: col-6;}
.col-7 {grid-area: col-7;}
.col-8 {grid-area: col-8;}
.col-9 {grid-area: col-9;}
.col-10 {grid-area: col-10;}

.site-header {
  background-color:var(--color-1);
  position: fixed;
  display: block;
  width: 100%;
  z-index:100;
  padding: 40px 0;
}
.row {text-align: center;}
.container {
  max-width:1200px;
  margin: 0 auto;
  padding:0 20px;
}
.flex-container {display: flex;}
.flex-col {display: flex;flex-direction: column;}
.flex-between {display: flex;justify-content: space-between;}


/*HEADER*/
.site-header .container {display:flex;justify-content: space-between; align-items: center;}
.logo > a{
    color: var(--white);
    font-family: var(--font-lora);
    font-weight: 700;
    font-size: 3rem;
    line-height: 52px;
    cursor: pointer;
}
.logo > a:hover{color: var(--teal);}
.top-nav a {
    color: var(--white);
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 2rem;
    line-height: 27px;
    display: inline-block;
    position: relative;
    padding: 0 20px;
}
.top-nav a:hover, .top-nav a:active {color:var(--teal);}
.icon-x, .sidenav .icon-x{
    font-size: 0.7rem;
    margin: 8px 25px 0 9px;
    position: absolute;
}
/*Header menu button*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100; 
    top: 0; 
    right: 0;
    background-color: var(--teal);
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    font-family: var(--font-roboto);
    font-size: 2rem;
    color: var(--white);
    display: block;
    transition: 0.3s;
    position: relative;
    line-height: 27px;
}
.sidenav a:hover {color: var(--white);}
.sidenav .closebtn{
    position: absolute;
    top: 10px;
    font-size: 36px;
    margin-left: 5px;
}
.icon-sidenav{
    font-size: 0.7rem;
    margin: 10px 25px 0 9px;
    position: absolute;
}
.menu-button a{
    color: var(--white);
    font-size: 2rem;
    margin-right: 10px;
}
.menu-button a:hover{color: var(--teal);}

/*HERO*/
.hero {
    padding: 305px 0 0;
    background-color: var(--teal);
    background-size: 100% 1076px;
    background-repeat: no-repeat;
    color: var(--white);
    position: relative;
}
#particles-js{
    top: 0;
    width: 100%;
    position: absolute;
}
.hero .hero-text{
    text-align: left;
    padding-left: 100px;

}
.hero h1{
    margin: 0;
    padding: 10px;
    max-width: 770px;
    font-family: var(--poppins-font);
    font-size: 4.75rem;
    font-weight: 700;
    line-height: 93px;
    background-color: var(--gray-rgba-0);
    border-radius: 3px;
}
.hero p {
    margin: 12px 0 0;
    font-size: 1.1875rem;
    line-height: 31px;
    max-width: 650px;
}
.hero .hero-text a{
    margin: 50px 0 100px;
    padding: 22px 60px;
    width: 220px;
    display: block;
    color: var(--white);
    background-color: var(--gray-rgba-0);
    border: 1px solid var(--white);
    font-family: var(--poppins-font);
    font-weight: 700;
    font-size: 1rem;
    line-height: 22px;
    cursor: pointer;
}
.hero .hero-text a:hover, .hero .hero-text a:active{
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
}
.hero > div > i{font-size: 3rem;}
.hero a.language-text{
    color: var(--white);
    font-family: var(--poppins-font);
    font-weight: 700;
    font-size: 1rem;
    line-height: 22px;
    cursor: pointer;
}
.hero a.language-text:hover, .hero a.language-text:active{
    color: var(--black);
}
/*hero-bottom*/
.hero ul.hero-bottom {
    list-style-type: none;
    max-width:1200px;
    margin: 50px auto 0; 
    padding:0 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hero-bottom li {
    margin: 15px;
    padding: 20px;
    max-width: 349px;
    height: 389px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left; 
    box-shadow: 0 0 20px var(--gray-1e);
}
.hero-bottom img {display: block;}
.hero-bottom h4{
    margin: 19px 0 0;
    font-family: var(--poppins-font);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 40px;
    color: var(--black);
}
.hero-bottom p{
    margin: 13px 0 0;
    font-family: var(--poppins-font);
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 34px;
    color: var(--gray-6c);
}
.hero-bottom span{
    padding-left: 25px;
    font-family: var(--poppins-font);
    font-weight: 700;
    font-size: 1rem;
    line-height: 22px;
}
.hero-bottom a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--blue);
}
.hero-bottom a:hover, .hero-bottom a:active{
    color: var(--black);
}
.hero img{display: block;}


/*MEDIA SCREEN!!!!*/
/*MEDIA SCREEN!!!!*/
/*MEDIA SCREEN!!!!*/
@media screen and (min-width: 1001px) {
    .sidenav, .menu-button, .search-button, .search-box {display: none;}
}
@media screen and (max-width: 1000px) {
     /*HEADER*/
    .top-nav {display: none;}
     /*HERO*/
     .hero {padding: 200px 0 0;}
}
@media screen and (max-width: 650px) {
    /*PAGES-top-section*/
    .pages-top-section h1{
        padding: 20px 0;
    }
    .pages-top-section .container-big-text p{
        padding: 0;
    }
    /*HERO*/
    .hero .hero-text{padding-left: 20px;}
     /*How it works section */
     .how-it-works ul{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
        "col-1"
        "col-2"
        "col-3"
        "col-4"
    }
} 
@media screen and (max-width: 470px) {
    /*HERO*/
    .hero h1{font-size: 3.4rem;line-height: 68px;}
    .hero .hero-text a{
        margin:50px auto;
    }
} 
@media screen and (max-width: 400px){
    /*HERO*/
    .hero-bottom li {height: 100%;}
    .hero-bottom a{margin-top: 35px;}
    .hero h1{padding: 0;}
}
@media screen and (max-width: 350px) {
    /*HERO*/
    .hero .hero-text{padding-left: 10px;}
    
} 
